.user-component__more-screen {
  margin-bottom: 40px;
  margin-top: 5px;
}

.more-suggestions__header {
  border-top: var(--main-border);
  padding-top: 15px;
  margin-bottom: 20px;
}

.suggestions__icon {
  width: 55px;
  height: 55px;
  border-radius: 10px;
}

.suggestions__icon-quote {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggestions__icon i {
  font-size: 25px;
  color: white;
}
