.settings-list {
  border-bottom: var(--main-border);
  margin: 0 -25px;
}

.settings__setting {
  padding: 25px 35px;
  font-size: 20px;
  display: flex;
  align-items: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.settings__setting i {
  margin-right: 10px;
}
